<div>
  <div class="md-form account-form">
    <input value="{{user.firstName}}" type="text" id="firstName" class="form-control" ng-disabled="readonly"/>
    <label class="active account-label" for="form6">First Name</label>
  </div>
  <div class="md-form account-form">
    <input value="{{user.lastName}}" type="text" id="lastName" class="form-control" ng-disabled="readonly"/>
    <label class="active account-label" for="form6">Last Name</label>
  </div>
  <div class="md-form account-form">
    <input value="{{user.email}}" type="text" id="email" class="form-control" ng-disabled="readonly"/>
    <label class="active account-label" for="form6">Email</label>
  </div>
</div>
