<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/mainpages">

<head>
  <title>About Us</title>
  <style>
    .jumbotron {
      background-image: url('../images/about-orchestra.jpg');
    }

    .about .card-body strong {
      font-size: 0.9rem;
    }

    .about .card-body {
      font-size: 0.80rem;
    }

    .img-responsive {
      width: 100%;
      max-width: 100% ;
      height: auto;
    }

  </style>
</head>

<body>

  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-mainpages jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>About Us</strong></h1>
        <h5>A team passionate about Arts</h5>
      </div>
    </div>

    <div class="container mt-5 mb-3 ">
      <div class="row my-2">
        <h1 class="col text-center">Board of Directors</h1>
      </div>
      <div class="about my-2 row mx-0 px-0 d-flex justify-content-center">
        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->
          <div class="row mx-0 px-0 white">
            <div class="col-6">
                  <p class="black-text text-center py-2"><strong>Michael Mathews</strong><br/> Founder - Chairman<br/> Chief Visionary Officer</p>
            </div>
            <div class="col-6 mx-0 px-0">
              <img src="/images/no-photo.png" class="img-responsive" />
            </div>
          </div>
        </div>

        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->
          <div class="row mx-0 px-0 white">
            <div class="col-6">
                <p class="black-text text-center py-2"><strong>Kevin Harington</strong><br/> Board Member<br/> Board Of Advisors</p>
            </div>
            <div class="col-6 mx-0 px-0">
              <img src="/images/kevin-harrington2.jpg" class="img-responsive" />
            </div>
          </div>
        </div>

        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->
          <div class="row mx-0 px-0 white">
            <div class="col-6">
                <p class="black-text text-center py-2"><strong>Chris Koomey</strong><br/> Board Member<br/> Chief Operating Officer</p>
            </div>
            <div class="col-6 mx-0 px-0">
              <img src="/images/chris-koomey.jpg" class="img-responsive" />
            </div>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <h1 class="col text-center">Executives</h1>
      </div>


      <div class="about my-2 row mx-0 px-0 d-flex justify-content-center">
        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->
          <div class="row mx-0 px-0 fantank_graydian_blue_color">
            <div class="col-6">
                  <p class="white-text text-center py-2"><strong class="black-text">?</strong><br/> Chief Executive Officer<br/></p>
            </div>
            <div class="col-6 mx-0 px-0">
              <img src="/images/no-photo.png" class="img-responsive" />
            </div>
          </div>
        </div>

        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->
          <div class="row mx-0 px-0 fantank_graydian_blue_color">
            <div class="col-6">
                <p class="white-text text-center py-2"><strong class="black-text">Suresh Kumar</strong><br/>Chief Technology Officer<br/></p>
            </div>
            <div class="col-6 mx-0 px-0">
              <img src="/images/no-photo.png" class="img-responsive" />
            </div>
          </div>
        </div>

        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->
          <div class="row mx-0 px-0 fantank_graydian_blue_color">
            <div class="col-6">
                <p class="white-text text-center py-2"><strong class="black-text">?</strong><br/>Co-Chief Artistry Officer<br/>(CAO-FILM)</p>
            </div>
            <div class="col-6 mx-0 px-0">
              <img src="/images/no-photo.png" class="img-responsive" />
            </div>
          </div>
        </div>
      </div>

      <div class="about my-2 row mx-0 px-0 d-flex justify-content-center">
        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->

          <div class="row mx-0 px-0 fantank_graydian_blue_color">
            <div class="col-6 mx-0 px-0">
              <img src="/images/no-photo.png" class="img-responsive" />
            </div>
            <div class="col-6">
                  <p class="white-text text-center py-2"><strong class="black-text">?</strong><br/>Co-Chief Artistry Officer<br/>(CAO-MODELING)</p>
            </div>
          </div>
        </div>

        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->
          <div class="row mx-0 px-0 fantank_graydian_blue_color">
            <div class="col-6 mx-0 px-0">
              <img src="/images/no-photo.png" class="img-responsive" />
            </div>
            <div class="col-6">
                <p class="white-text text-center py-2"><strong class="black-text">?</strong><br/>Co-Chief Artistry Officer<br/>(CAO-MUSIC)</p>
            </div>
          </div>
        </div>

        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->
          <div class="row mx-0 px-0 fantank_graydian_blue_color">
            <div class="col-6 mx-0 px-0">
              <img src="/images/no-photo.png" class="img-responsive" />
            </div>
            <div class="col-6">
                <p class="white-text text-center py-2"><strong class="black-text">Tal Finney</strong><br/>Chief LEGAL Officer<br/>(CAO-FILM)</p>
            </div>
          </div>
        </div>
      </div>

      <div class="about my-2 row mx-0 px-0 d-flex justify-content-center">
        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->
          <div class="row mx-0 px-0 fantank_graydian_blue_color">
            <div class="col-6">
                  <p class="white-text text-center py-2"><strong class="black-text">Kendall Almerico</strong><br/>President of Equity Crowdfunding Operations<br/></p>
            </div>
            <div class="col-6 mx-0 px-0">
              <img src="/images/kendall-almerico-thumb.jpg" class="img-responsive" />
            </div>
          </div>
        </div>

        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->
          <div class="row mx-0 px-0 fantank_graydian_blue_color">
            <div class="col-6">
                <p class="white-text text-center py-1"><strong class="black-text">Greg Cook</strong><br/>President of Business Development and Sales<br/></p>
            </div>
            <div class="col-6 mx-0 px-0">
              <img src="/images/no-photo.png" class="img-responsive" />
            </div>
          </div>
        </div>

        <div class="col-12   col-lg-4 z-depth-0 my-1">
          <!--Card content-->
          <div class="row mx-0 px-0 fantank_graydian_blue_color">
            <div class="col-6">
                <p class="white-text text-center py-2"><strong class="black-text">Elijah Rock</strong><br/>EVP of Artisitic Operations<br/></p>
            </div>
            <div class="col-6 mx-0 px-0">
              <img src="/images/elijah-rock.jpg" class="img-responsive" />
            </div>
          </div>
        </div>
      </div>

      <div class="about my-2 row mx-0 px-0 d-flex justify-content-center">
        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->

          <div class="row mx-0 px-0 fantank_graydian_blue_color">
            <div class="col-6 mx-0 px-0">
              <img src="/images/lynnette-san-miguel.jpg" class="img-responsive" />
            </div>
            <div class="col-6">
                  <p class="white-text text-center py-2"><strong class="black-text">Lynnette San Miguel</strong><br/>EVP of Artistic Services<br/></p>
            </div>
          </div>
        </div>

        <div class="col-12  col-lg-4 z-depth-0 my-1">
          <!--Card content-->
          <div class="row mx-0 px-0 fantank_graydian_blue_color">
            <div class="col-6 mx-0 px-0">
              <img src="/images/no-photo.png" class="img-responsive" />
            </div>
            <div class="col-6">
                <p class="white-text text-center py-2"><strong class="black-text">Alvin Issacs JR</strong><br/><br/></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
