<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorator="layout/mainpages">

<head>
  <title>About Us</title>
  <style>
    .jumbotron {
      background-image: url('../images/about-orchestra.jpg');
    }
  </style>
</head>

<body>

  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>About Us</strong></h1>
        <h5>A team passionate about Arts</h5>
      </div>
    </div>

    <div class="container mt-5 mb-3 black">

      <div class="row">
        <div class="col">
          <h1 class="">Board Of Directors</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 mx-0 my-1">
          <div class="row">
            <div class="col px-0 white black-text text-center border" style="width:140px;">
              <h6 class="pt-1"><strong>Michael Mathews</strong></h6>
              <h6>Founder - Chairman</h6>
              <h6>Chief Visionary Officer</h6>
              <a class="sq-btn" href="http://linkedin.com" role="button" target="_blank"><i class="fa fa-linkedin px-2 py-2"></i></a>
            </div>
            <div class="col px-0" >
              <img src="/images/no-photo.png" style="width: 160px;" />
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 mx-0 my-1">
          <div class="row" >
            <div class="col px-0 white black-text text-center border" style="width:140px;">
              <h6 class="pt-1"><strong>Kevin Harington</strong></h6>
              <h6>Board Member</h6>
              <h6>Board of Advisors</h6>
              <a class="sq-btn" href="http://linkedin.com" role="button" target="_blank"><i class="fa fa-linkedin px-2 py-2"></i></a>
            </div>
            <div class="col px-0"   >
              <img src="/images/kevin-harrington2.jpg" style="width: 160px;" />
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 mx-0 my-1">
          <div class="row" >
            <div class="col px-0 white black-text text-center border" style="width:140px;">
              <h6 class="pt-1"><strong>Chris Koomey</strong></h6>
              <h6>Board Member</h6>
              <h6>Chief Operating Officer</h6>
              <a class="sq-btn" href="http://linkedin.com" role="button" target="_blank"><i class="fa fa-linkedin px-2 py-2"></i></a>
            </div>
            <div class="col px-0"  >
              <img src="/images/chris-koomey.jpg" style="width: 160px;" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h1>Executives</h1>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
