<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/mainpages" ng-app="dashboard">

<head>
  <title>Dashboard</title>
</head>

<body>
  <main layout:fragment="content">

<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <h3>Collapsible Sidebar</h3>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li class="active"><a href="/dashboard">Account</a></li>
        <li><a href="/dashboard/investments">Investments</a></li>
    </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
      <i class="glyphicon glyphicon-align-left"></i>
      Toggle Sidebar
    </button>

    <div ng-controller="Dashboard" class="container main-container">
      <div class="view-animate-container">
        <div ng-view="" class="view-animate"></div>
      </div>
    </div>
  </div>

</div>
    
  </main>


<th:block layout:fragment="script">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
  <script src="/js/dashboard.js"></script>
  <script type="text/javascript">
    angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
  </script>
</th:block>

</body>
</html>
