<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/mainpages">

<head>
  <title>Login</title>
  <style>
    .jumbotron {
      background-image: url('../images/register-music.jpg');
    }
  </style>
</head>

<body>
  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-mainpages jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>Dashboard</strong></h1>
      </div>
    </div>

    
  </main>

<th:block layout:fragment="script">

</th:block>

</body>
</html>
