<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/mainpages">

<head>
  <title>Disclaimer</title>
  <style>
    .jumbotron {
    }

    .disclaimer h1 {
      color: #337ab7;
    }
  </style>
</head>

<body>
  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-mainpages jumbotron-fluid mt-3 special-color">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>Disclaimer</strong></h1>
      </div>
    </div>

    <div class="container mt-5 mb-3 black">
      <div class="disclaimer white row black-text z-depth-2 px-4 py-4 my-2 ">
        <div class="col-12">
          <p>
            Fantank.com is a website owned and operated by Fantank Inc. By accessing this website and any pages thereof, you agree to be bound by the Terms of Use and Privacy Policy, as amended from time to time. Fantank Inc is not a registered or licensed broker,
            dealer, broker-dealer, investment advisor, investment manager in the United States, nor with any state, district, county, territory or municipality thereof, nor with any other country or territory. As such, it is not acting in a fiduciary
            capacity with respect to any user of the Fantank Services and Fantank disclaims any broker-client or adviser-client relationship with respect to any party using this Service. Fantank Inc may use a broker-dealer partner that is registered with
            the US Securities and Exchange Commission (SEC) and a member of the Financial Industry Regulatory Authority (FINRA), or an exempt market dealer that is registered with the US States and territories. Fantank.com is intended for accredited and
            unaccredited investors (for persons residing in the U.S.), and for persons residing abroad in jurisdictions where securities registration exemptions apply.
          </p>
          <br/><br/>
          <p>
            Investing in securities involves risk, and investors should be able to bear the loss of their entire investment. All investors should make their own determination of whether or not to make any investment, based on their own independent evaluation and
            analysis. Fantank Inc does not verify or assure that information provided by any company offering securities is accurate or complete or that the valuation is appropriate. Neither Fantank.com nor any of its directors, officers, employees, representatives,
            affiliates or agents shall have any liability whatsoever arising, for any error or incompleteness of fact or opinion in, or lack of care in the preparation or publication of the materials posted on this website. Fantank.com does not give investment
            advice, provide analysis or recommendations regarding any offering posted on the website. The information on this website does not constitute an offer of, or the solicitation of, an offer to buy or subscribe for any securities to any person
            in any jurisdiction to whom or in which such offer or solicitation is unlawful. Fantank.com does not provide legal, accounting or tax advice. Any representation or implication to the contrary is expressly disclaimed. You should consult
            your own legal, accounting and tax experts before using Fantank.com.
          </p>
          <br/><br/>
          <p>
            Fantak.com does not make investment recommendations, and no communication through this website or in any other medium should be construed as such. Investment opportunities posted on this website are “private placements” of securities that are not publicly
            traded, are subject to holding period requirements, and are intended for investors who do not need a liquid investment. Private placement investments are not bank deposits (and thus not insured by the FDIC, CDIC or by any other federal governmental
            agency), are not guaranteed by Fantank Inc, and may lose value. Neither the Securities and Exchange Commission nor any federal, state or provincial securities commission or regulatory authority has recommended or approved any investment or
            the accuracy or completeness of any of the information or materials provided by or through the website. Investors must be able to afford the loss of their entire investment.
          </p>

        </div>
      </div>
    </div>
  </main>

</body>

</html>
