<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorator="layout/mainpages">

<head>
  <title>How It Works</title>
  <style>
    .jumbotron {
      background-image: url('../images/howitworks-mixer3.jpg');
    }

    .faq h4 {
      color: #337ab7;
      font-weight: 400;
    }

    .faq h1 {
      color: #337ab7;
    }
  </style>
</head>

<body>

  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-mainpages jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>How it works</strong></h1>
        <h3>Turn Your Talent Into Investment From The Crowd</h3>
      </div>
    </div>

    <div class="container mt-5 mb-3">
      <div class="row z-depth-1 py-2 my-2 elegant-color">
        <div class="col text-center">
          <div>
            <img src="/images/get-exposed.png"/>
            <h2 class="pt-1">Get Exposed To More Investors Globally</h2>
            <p>Our technologies enable potential investors, distributors, agents, fans, brand managers, and other artists to locate you more efficiently.</p>
          </div>
        </div>

        <div class="col text-center">
          <div class="feature-point-block">
            <img src="/images/unleash.png" />
            <h2 class="pt-1">Unleash Your Artistic Vision</h2>
            <p>Keep creative control of your art.</p>
          </div>
        </div>

        <div class="col text-center">
          <div class="feature-point-block">
            <img src="/images/team-up.png" />
            <h2 class="pt-1">Team Up With Experts And Innovators</h2>
            <p>We are leaders in converging technology and finance with Arts &amp; Entertainment while bringing financial services and risk hedging strategies to industry and empowerment to artists. </p>
          </div>
        </div>

        <div class="col-12 text-center">
          <a href="/disclaimer">Legal Disclaimer</a>
        </div>
      </div>

      <div class="row d-flex py-2 elegant-color ">
        <div class="col-12 d-flex">
          <h1 class="text-center mx-auto">Get Started</h1>
        </div>
        <div class="col-12 col-md-6 d-flex text-center">
          <div class="mx-1 my-1 py-1 z-depth-2 grey darken-3 w-100">
            <h2>INVESTORS</h2>
            <p>Get Started</p>
            <a href="/register" class="btn btn-lg btn-primary">Sign Up</a>
          </div>
        </div>

        <div class="col-12 col-md-6 d-flex px-auto text-center">
          <div class="mx-1 my-1 py-1 z-depth-2 grey darken-3 w-100">
            <h2>ARTISTS</h2>
            <p>Want to raise money via equity crowdfunding?</p>
            <a href="/contact" class="btn btn-lg btn-primary">Inform Us</a>
          </div>
        </div>

      </div>

      <div class="faq white row black-text z-depth-2 my-2">
        <div class=" col-12">
          <div class="py-1">
            <h1 class="text-center">Frequently Asked Questions</h1>
          </div>
        </div>

        <div class="col-md-6">

          <h4>What is equity crowdfunding?</h4>
          <p>With equity crowdfunding, investors get a financial stake in you as a brand and / or a particular project they’re supporting. Unlike crowd pledging, where the funds are basically a gift usually in exchange for perks.</p>

          <h4>Why should I consider equity crowdfunding?</h4>
          <p>Equity crowdfunding allows you to offer investors a real stake in your artistic vision. Our platform gives you exposure to a passionate community of art lovers who are looking to invest in the next big star while allowing you to keep artistic
            control.
          </p>

          <h4>Who can use this service?</h4>
          <p>Artists - current regulations only allow companies that are incorporated in the USA to raise capital.Investors - we are currently only allowing investors located in the USA to invest, but this is subject to extend to other parts of the world
            over the next 12 months as global equity crowd funding laws evolve.</p>

          <h4>How much does it cost the artist?</h4>
          <p>Nothing. Zero. Zip. Nada… Once an artist is selected for equity crowd funding by the collective votes of our users, we then leverage the combination of our network of high net worth individuals, distributors, producers, hedge funds, VC firms,
            financial services companies, or FanTank to mobilize your project to pay for underwriting, legal, accounting, marketing, and broker dealer fees that can range from $50,000 to $250,000 depending upon how much is raised for your project.</p>

          <h4>How does investing work?</h4>
          <p>Investing in an artist or artistic project means you own a piece of that project and are along for the ride, whether up or down. With this partnership, all investment transactions take place on www.Bankroll.com</p>

          <h4>What is the definition of a “Artrepreneur”?</h4>
          <p>A Artrepreneur is anyone whether an artist or evaluator who has a strong passion and interest in the Arts with an intent to monetize that passion.</p>

        </div>
        <!-- / Col 1 -->

        <div class="col-md-6">

          <h4>What are the different roles between FanTank and Bankroll? </h4>
          <p>FanTank provides the technologies and services that incentive artists to post content and evaluators to give their feedback that ultimately creates a form of measurement on artist content. BankRoll’s main role is to handle any and all aspects
            of the actual POT (Point of Transaction) where the investment in an artist is done.</p>

          <h4>Does the Artist have access to the full amount raised in one payment? </h4>
          <p>No, there are up to 2% brokerage and other processing fees are taken out of the amount raised. The rest is distributed to artists and/or paid directly to vendors from a independent law and / or accounting firm’s professionally funds administered
            escrow account. There are also agreed upon deliverable schedules that must be met from artist prior to disbursements.</p>

          <h4>How much can I raise?</h4>
          <p>You can raise up to $1,000,000 with a Title III offering, and there is no limit on a 506(c) offering. FanTank and BankRoll allows you to do a Title III offering, a 506(c) offering, or both. FanTank does not do micro deals. We typically will
            process funding deals of at least $500,000 in an effort to give your project the best chance for commercial success and to maximize ROI to investors.</p>

          <h4>What are the different ways I can raise money?</h4>
          <p>You can decide to offer company shares in exchange for investment with an equity offering, offer a revenue share to investors, or even raise funds via a debt offering. </p>

          <h4>Is there a difference between applying for a raise on the FanTank site or applying on the BankRoll site? </h4>
          <p>At the current time you can only be listed on BankRoll’s site. Also, the artist cannot “apply". You could be selected based upon the collective votes from the crowd. On our platform, the crowd is not only the investor but they are they are the
            A&amp;R / talent scouts as well. If your selected, a FanTank team member will contact you to send you a formal proposal for listing you on our sites for an equity crowd funding campaign. </p>

        </div>
        <!-- / Col 2 -->

      </div>
    </div>
  </main>
</body>

</html>
