<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorator="layout/mainpages">

<head>
  <title>Invest</title>

  <style>
    .jumbotron {
      background-image: url('../images/invest-camera1.jpg');
    }
  </style>
</head>

<body>

  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>Browse Offerings</strong></h1>
      </div>
    </div>
    <div class="container mt-5 mb-3">
      <!-- Prince -->
      <div class="row z-depth-2 my-1 ">
        <div class="col-md-4 px-0 my-0">
          <img class="img-fluid" style="width: 100%; height: 100%" src="images/prince.jpg"/>
        </div>
        <div class="col-md-8 white">
          <div class="row text-white " style="background-color: #983faa;">
            <div class="col col-md-10">
              <h3 class="pt-1" >Prince</h3>
              <h5>Catalog Buy In</h5>
            </div>
            <div class="col-3 col-md-2">
              <div class="text-right">
                <img class="py-1" src="images/headphones.png" width="46"/>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col text-black">
              <p class="h5">$50 million Offering</p>
              <div class="progress rounded-0">
                <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style=" width: 100%; ">
                  <strong><i class="fa fa-check"></i> Complete!</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="complete"></p>
            </div>
            <div class="col text-right">
              <p class="days-left red-text">3 Days Left</p>
            </div>
          </div>
          <div class="row ">
            <div class="col">
              <a href="./projects/prince.html" class="btn btn-primary">
              Learn More
            </a>
            </div>
          </div>
        </div>
      </div>

      <!-- second -->
      <div class="row z-depth-2 my-1">
        <div class="col-md-4 px-0 my-0">
          <img class="img-fluid" style="width: 100%; height: 100%" src="images/perry.jpg"/>
        </div>
        <div class="col-md-8 white">
          <div class="row text-white " style="background-color: #333;">
            <div class="col col-md-10">
              <h3 class="pt-1" >Lincoln Perry The Movie</h3>
              <h5>An Antwone Fisher Film</h5>
            </div>
            <div class="col-3 col-md-2">
              <div class="text-right">
                <img class="py-1" src="images/film.png" width="46"/>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col text-black">
              <p class="h5">$5 million Offering</p>
              <div class="progress rounded-0">
                <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style=" width: 30%; ">
                  <strong><i class="fa fa-check"></i>30%</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="complete"></p>
            </div>
            <div class="col text-right">
              <p class="days-left red-text">3 Days Left</p>
            </div>
          </div>
          <div class="row ">
            <div class="col">
              <a href="./projects/prince.html" class="btn btn-primary">
              Learn More
            </a>
            </div>
          </div>
        </div>
      </div>

      <!-- third -->

      <div class="row z-depth-2 my-1">
        <div class="col-md-4 px-0 my-0">
          <img class="img-fluid" style="width: 100%; height: 100%" src="images/chazz.jpg"/>
        </div>
        <div class="col-md-8 white">
          <div class="row text-white " style="background-color: #ab5f28;">
            <div class="col col-md-10">
              <h3 class="pt-1" >Chazz Palminteri &amp; Dave Rodriguez</h3>
              <h5>Film</h5>
            </div>
            <div class="col-3 col-md-2">
              <div class="text-right">
                <img class="py-1" src="images/film.png" width="46"/>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col text-black">
              <p class="h5">$5 million Offering</p>
              <div class="progress rounded-0">
                <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style=" width: 30%; ">
                  <strong><i class="fa fa-check"></i>30%</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="complete"></p>
            </div>
            <div class="col text-right">
              <p class="days-left red-text">3 Days Left</p>
            </div>
          </div>
          <div class="row ">
            <div class="col">
              <a href="./projects/chazz.html" class="btn btn-primary">
              Learn More
            </a>
            </div>
          </div>
        </div>
      </div>

      <!-- fourth -->

      <div class="row z-depth-2 my-1">
        <div class="col-md-4 px-0 my-0">
          <img class="img-fluid" style="width: 100%; height: 100%" src="images/chance.jpg" />
        </div>
        <div class="col-md-8 white">
          <div class="row text-white " style="background-color: #ff7e78">
            <div class="col col-md-10">
              <h3 class="pt-1" >Chance The Rapper</h3>
              <h5>Music Tour</h5>
            </div>
            <div class="col-3 col-md-2">
              <div class="text-right">
                <img class="py-1" src="images/headphones.png" width="46" />
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col text-black">
              <p class="h5">$5 million Offering</p>
              <div class="progress rounded-0">
                <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style=" width: 30%; ">
                  <strong><i class="fa fa-check"></i>30%</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="complete"></p>
            </div>
            <div class="col text-right">
              <p class="days-left red-text">30 Days Left</p>
            </div>
          </div>
          <div class="row ">
            <div class="col">
              <a href="./projects/chance.html" class="btn btn-primary">
              Learn More
            </a>
            </div>
          </div>
        </div>
      </div>


      <!-- fifth -->

      <div class="row z-depth-2 my-1">
        <div class="col-md-4 px-0 my-0">
          <img class="img-fluid" style="width: 100%; height: 100%" src="images/cash-money.jpg"/>
        </div>
        <div class="col-md-8 white">
          <div class="row text-white " style="background-color: #424242">
            <div class="col col-md-10">
              <h3 class="pt-1" >Cash Money Records The Movie</h3>
              <h5>Development Deal</h5>
            </div>
            <div class="col-3 col-md-2">
              <div class="text-right">
                <img class="py-1" src="images/film.png" width="46"/>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col text-black">
              <p class="h5">$7 million Offering</p>
              <div class="progress rounded-0">
                <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style=" width: 30%; ">
                  <strong><i class="fa fa-check"></i>60%</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="complete"></p>
            </div>
            <div class="col text-right">
              <p class="days-left red-text">90 Days Left</p>
            </div>
          </div>
          <div class="row ">
            <div class="col">
              <a href="./projects/cash.html" class="btn btn-primary">
              Learn More
            </a>
            </div>
          </div>
        </div>
      </div>

      <!-- sixth -->

      <div class="row z-depth-2 my-1">
        <div class="col-md-4 px-0 my-0">
          <img class="img-fluid" style="width: 100%; height: 100%" src="images/frank-ocean.jpg"/>
        </div>
        <div class="col-md-8 white">
          <div class="row text-white " style="background-color: #56385d">
            <div class="col col-md-10">
              <h3 class="pt-1" >Frank Ocean</h3>
              <h5>Development Deal</h5>
            </div>
            <div class="col-3 col-md-2">
              <div class="text-right">
                <img class="py-1" src="images/headphones.png" width="46"/>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col text-black">
              <p class="h5">$7 million Offering</p>
              <div class="progress rounded-0">
                <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style=" width: 30%; ">
                  <strong><i class="fa fa-check"></i>60%</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="complete"></p>
            </div>
            <div class="col text-right">
              <p class="days-left red-text">90 Days Left</p>
            </div>
          </div>
          <div class="row ">
            <div class="col">
              <a href="./projects/frank.html" class="btn btn-primary">
              Learn More
            </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</body>

</html>
