<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/mainpages">

<head>
  <title>Invest</title>

  <style>
    .jumbotron {
      background-image: url('../images/invest.jpg');
    }

    .outline {

    }

    .progress {
      height: 0.25rem !important;
    }
  </style>
</head>

<body>

  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-mainpages jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>Explore Investment Opportunities</strong></h1>
      </div>
    </div>
    <div class="invest container mt-5 mb-3">
      <div class="row">
        <div class="col">
          <h1 class="my-2 text-center">Featured Projects</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 d-flex">

          <!-- card start-->
          <div class="card elegant-color my-2 outline">
            <div class="view overlay hm-white-slight">
              <img src="images/prince.jpg" class="img-fluid" alt="" />
              <a href="/invest/prince">
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title text-center">Prince</h4>
              <h5 class="text-center">Catalog Buy In</h5>
              <div class="progress rounded-0 my-1">
                <div class="progress-bar  progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style=" width: 100%; ">
                </div>
              </div>
              <table class="table table-reponsive borderless">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left">Category</td>
                    <td class="text-right">
                      <i class="fa fa-music fa-2x" aria-hidden="true" font-size="1rem;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">Offering</td>
                    <td class="text-right">$50 million</td>
                  </tr>
                  <tr>
                    <td class="text-left">Raised</td>
                    <td class="text-right">$50,000,000.00</td>
                  </tr>
                  <tr>
                    <td class="text-left">Days Left</td>
                    <td class="text-right">45 days</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- card end-->

        <!-- card start-->
        <div class="col-12 col-md-4 d-flex">
          <div class="card elegant-color my-2 outline">
            <div class="view overlay hm-white-slight">
              <img src="images/perry.jpg" class="img-fluid" alt="" />
              <a href="/invest/perry">
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title text-center">Lincoln Perry The Movie</h4>
              <h5 class="text-center">A Antwone Fisher Film</h5>
              <div class="progress rounded-0 my-1">
                <div class="progress-bar  progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style=" width: 30%; ">

                </div>
              </div>
              <table class="table table-reponsive borderless">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left">Category</td>
                    <td class="text-right">
                      <i class="fa fa-film fa-2x" aria-hidden="true"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">Offering</td>
                    <td class="text-right offeringAsking">$6 million</td>
                  </tr>
                  <tr>
                    <td class="text-left">Raised</td>
                    <td class="text-right">$300,0000</td>
                  </tr>
                  <tr>
                    <td class="text-left">Days Left</td>
                    <td class="text-right"><span class="offeringDaysLeft">90</span> <span class="offeringDayHour">Days</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- card end-->

        <!-- card start-->
        <div class="col-12 col-md-4  d-flex">
          <div class="card elegant-color my-2 outline">
            <div class="view overlay hm-white-slight">
              <img src="images/chazz.jpg" class="img-fluid" alt="" />
              <a href="/invest/chazz">
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Chazz Palminteri &amp; Dave Rodriguez</h5>
              <h5 class="text-center">Film</h5>
              <div class="progress rounded-0 my-1">
                <div class="progress-bar  progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style=" width: 30%; ">

                </div>
              </div>
              <table class="table table-reponsive borderless">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left">Category</td>
                    <td class="text-right">
                      <i class="fa fa-film fa-2x" aria-hidden="true"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">Offering</td>
                    <td class="text-right offeringAsking">$5 million</td>
                  </tr>
                  <tr>
                    <td class="text-left">Raised</td>
                    <td class="text-right">$700,0000</td>
                  </tr>
                  <tr>
                    <td class="text-left">Days Left</td>
                    <td class="text-right">90 days</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- card end-->


        <!-- card start-->
        <div class="col-12 col-md-4  d-flex">
          <div class="card elegant-color my-2 outline">
            <div class="view overlay hm-white-slight">
              <img src="images/chance.jpg" class="img-fluid" alt="" />
              <a href="/invest/chance">
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title text-center">Chance The Rapper</h4>
              <h5 class="text-center">Album Release/Music Tour(2018)</h5>
              <div class="progress rounded-0 my-1">
                <div class="progress-bar  progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style=" width: 30%; ">

                </div>
              </div>
              <table class="table table-reponsive borderless">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left">Category</td>
                    <td class="text-right">
                      <i class="fa fa-music fa-2x" aria-hidden="true"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">Offering</td>
                    <td class="text-right offeringAsking">$5 million</td>
                  </tr>
                  <tr>
                    <td class="text-left">Raised</td>
                    <td class="text-right">$700,0000</td>
                  </tr>
                  <tr>
                    <td class="text-left">Days Left</td>
                    <td class="text-right">90 days</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- card end-->


        <!-- card start-->
        <div class="col-12 col-md-4  d-flex">
          <div class="card elegant-color my-2 outline">
            <div class="view overlay hm-white-slight">
              <img src="images/cash-money.jpg" class="img-fluid" alt="" />
              <a href="/invest/cash">
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Cash Money Records The Movie</h5>
              <h5 class="text-center">Development Deal</h5>
              <div class="progress rounded-0 my-1">
                <div class="progress-bar  progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style=" width: 30%; ">

                </div>
              </div>
              <table class="table table-reponsive borderless">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left">Category</td>
                    <td class="text-right">
                      <i class="fa fa-film fa-2x" aria-hidden="true"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">Offering</td>
                    <td class="text-right offeringAsking">$7 million</td>
                  </tr>
                  <tr>
                    <td class="text-left">Raised</td>
                    <td class="text-right">$700,0000</td>
                  </tr>
                  <tr>
                    <td class="text-left">Days Left</td>
                    <td class="text-right">90 days</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- card end-->



        <!-- card start-->
        <div class="col-12 col-md-4  d-flex">
          <div class="card elegant-color my-2 outline">
            <div class="view overlay hm-white-slight">
              <img src="images/frank-ocean.jpg" class="img-fluid" alt="" />
              <a href="/invest/frank">
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title text-center">Frank Ocean</h4>
              <h5 class="text-center">Development Deal</h5>
              <div class="progress rounded-0 my-1">
                <div class="progress-bar  progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style=" width: 30%; ">

                </div>
              </div>
              <table class="table table-reponsive borderless">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left">Category</td>
                    <td class="text-right">
                      <i class="fa fa-film fa-2x" aria-hidden="true"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">Offering</td>
                    <td class="text-right offeringAsking">$6 million</td>
                  </tr>
                  <tr>
                    <td class="text-left">Raised</td>
                    <td class="text-right">$700,0000</td>
                  </tr>
                  <tr>
                    <td class="text-left">Days Left</td>
                    <td class="text-right">90 days</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- card end-->




      </div>
    </div>
  </main>

  <th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/fundingDetails.min.js"></script>
    <script src="/js/invest.min.js"></script>
    <script>
    </script>
  </th:block>

</body>

</html>
