<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorator="layout/mainpages">

<head>
  <title>Contect Us</title>
  <style>
  .jumbotron {
      background-image:   url("../images/contactus-records.jpg") ;
  }
  </style>
</head>
<body>
  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>Jobs</strong></h1>
      </div>
    </div>

    <div class="container mt-5 mb-3 black">
    </div>
  </main>

</body>

</html>
