<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorator="layout/mainpages">

<head>
  <title>Contect Us</title>
  <style>
  .jumbotron {
      background-image:   url("../images/contactus-records.jpg") ;
  }
  </style>
</head>
<body>
  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>Job Openings</strong></h1>
      </div>
    </div>

    <div class="container mt-5 mb-3">
      <div class="row py-1 white black-text z-index-1">
					<div class="col-md-6 py-1">

						<h2>Engineering</h2>

						<table class="table table-condensed">
							<tbody><tr>
								<td class="position"><a href="#">Intern (2)</a></td>
								<td class="location"> </td>
							</tr>
							<tr>
								<td class="position"><a href="#">Senior Software Engineers (2)</a></td>
								<td class="location"></td>
							</tr>
							<tr>
								<td class="position"><a href="#">Front - End Engineer</a></td>
								<td class="location"></td>
							</tr>
							<tr>
								<td class="position"><a href="#">Mobile Engineer - iOS</a></td>
								<td class="location"></td>
							</tr>
							<tr>
								<td class="position"><a href="#">Mobile Engineer - Android</a></td>
								<td class="location"></td>
							</tr>
							<tr>
								<td class="position"><a href="#">Sr. Engineer of Data &amp; Visualization</a></td>
								<td class="location"></td>
							</tr>
						</tbody></table>

						<h2>Operations</h2>

						<table class="table table-condensed">
							<tbody><tr>
								<td class="position"><a href="#">CFO</a></td>
								<td class="location"></td>
							</tr>
							<tr>
								<td class="position"><a href="#">VP - Equity Crowd Funding Project Underwriter / Analyst</a></td>
								<td class="location"></td>
							</tr>
						</tbody></table>

					</div>

					<div class="col-md-6 py-1">

						<h2>Creative - Design</h2>

						<table class="table table-condensed">
							<tbody><tr>
								<td class="position"><a href="#">Chief Creative Officer</a></td>
								<td class="location"></td>
							</tr>
							<tr>
								<td class="position"><a href="#">Intern</a></td>
								<td class="location"></td>
							</tr>
						</tbody></table>

						<h2>Creative - Arts &amp; Entertainment</h2>

						<table class="table table-condensed">
							<tbody><tr>
								<td class="position"><a href="#">Chief Artistry Officer (Modeling &amp; Fashion)</a></td>
								<td class="location"></td>
							</tr>
							<tr>
								<td class="position"><a href="#">Intern (2)</a></td>
								<td class="location"></td>
							</tr>
						</tbody></table>

					</div>

	      </div>

      </div>
  </main>

</body>

</html>
