<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/mainpages">

<head>
  <title>Terms</title>
  <style>
    .jumbotron {
      background-image: url("../images/contactus-records.jpg");
    }

    .privacy h1,
    .privacy h3 {
      color: #337ab7;
    }

    .privacy li {
      display: block;
    }

    .privacy li:before {
      /*Using a Bootstrap glyphicon as the bullet point*/
      font-size: 1rem;
      padding-right: 1rem;
      color: #337ab7;
      font-weight: 500;
      content: "\f00c";
      /* FontAwesome Unicode */
      font-family: FontAwesome;
      display: inline-block;
      width: 1.3em;
      /* same as padding-left set on li */
    }
  </style>
</head>


<body>
  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>Privacy Policy</strong></h1>
        <h5 class="mx-auto w-75 text-center">
Fantank is committed to safeguarding the personal information of individuals. This privacy statement outlines the practices we follow in protecting personal information and a copy of this privacy statement will be provided to any person upon request.
            </h5>
      </div>
    </div>

    <div class="container mt-5 mb-3 black">
      <div class="privacy white row black-text z-depth-2 px-4 py-4 my-2 ">
        <div class="col-12">
          <div class="py-1">
            <div class="divider-new">
              <h1 class="text-center">Privacy Policy</h1></div>
          </div>
        </div>
          <div class="col-12">
            <p>The website (“Site”) for Fantank (“Fantank”, “we” or “us”) was created to provide information about our company, investment opportunities (“Services”) to investors using the site to invest (in each case, a “User”, and collectively, “Users”).
              At Fantank we take your privacy seriously. We collect and store certain information as required by law to perform services for you, but are committed to protect your personal and financial information.<br/>
              <br/> This Privacy Policy specifies the personal information that we ask you to provide and how we treat this information. This Privacy Policy is part of our Terms of Use, and all the terms and conditions set forth in the Terms of Use also
              apply to this Privacy Policy. Capitalized terms that are not otherwise defined in this Privacy Policy have the meanings given to them in the Terms of Use.<br/>
              <br/>
              <strong>IF YOU DO NOT UNDERSTAND OR DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY PLEASE DO NOT USE THE SITE</strong></p>
          </div>
          <div class="col-12">
            <h3>          Your Consent                        </h3>
            <p>
              You will be deemed to have consented to the terms of this Privacy Policy by using the Site. We may also ask you to indicate your consent more formally by checking a box or otherwise taking an affirmative action. </p>
          </div>
          <div class="col-12">
            <h3>          Changes to Privacy Policy                        </h3>
            <p>
              We might change this Privacy Policy from time to time. If you have consented merely by using the Site, then we will not necessarily notify you of the changes. If you have consented more formally, as described above, then the changes will not become effective
              until we have asked you for, and obtained, your consent. </p>
          </div>
          <div class="col-12">
            <h3>          Information We Collect                        </h3>
            <p>We collect a variety of personal information to operate the Site and provide the Service. The majority of information is collected during the registration;&nbsp;while some items are optional, most are required for legal or security purposes.
              In general these include, but not limited to:</p>

            <ul>
              <li>Your name, address, phone number, email address, birth date, and other personal information.</li>
              <li>Financial information, including your social security number, or similar identification, income, and net worth.</li>
              <li>Copies of your tax returns, brokerage statements, W2 forms or equivalent information,&nbsp;and other financial documents.</li>
              <li>Your user name and password.</li>
              <li>Information to confirm your identity, such as a copy of your passport, driver's license or other government-issued photo identification.</li>
              <li>Information to confirm your place of residence.</li>
              <li>Information about your use of the Site.</li>
              <li>Information about your computer configuration.</li>
              <li>Information to confirm your relationship with other parties associated with the Site.</li>
              <li>Information about your bank accounts or other sources of payment.</li>
              <li>Your IP address.</li>
            </ul>

            <p><br/>
              <strong>We use your personal information to:</strong></p>

            <ul>
              <li>Verify that you are permitted to invest through the Site.</li>
              <li>Verify that you are at least 18 years of age.</li>
              <li>Keep track of your investments.</li>
              <li>Comply with applicable law.</li>
              <li>Guard against potential fraud.</li>
              <li>Answer your questions.</li>
              <li>Protect our rights.</li>
              <li>Send to third parties at your request.</li>
              <li>Process your transactions at the Site.</li>
              <li>Determine whether your computer information is compatible with the Site.</li>
              <li>Keep track of your use of the Site.</li>
              <li>Send you information about your investments.</li>
              <li>Notify you of other possible investments in which you might have an interest.</li>
              <li>Analyze use of the Site.</li>
              <li>Improve the Site.</li>
              <li>Send you information about the Site.</li>
              <li>Send you materials about us.</li>
              <li>Do other things that we disclose to you.</li>
            </ul>
            <p>&nbsp;</p>
            <p>By voluntarily providing us with this information, you are giving Fantank permission to use and store this information consistent with this Privacy Policy. We may also obtain your personal information from your transactions with us or other
              Users through the Services, or from third parties such as credit reporting agencies. If we combine or associate information from other sources with personal information that you provide directly to us through or in connection with the Services,
              we will treat the combined information as personal information in accordance with this Privacy Policy.<br/>
              <br/> As is the case with many websites, Fantank receives, tracks and stores certain nonidentifying information about you (e.g., whether or not you register to access Services) and aggregate personal data. Such information may include:</p>

            <ul>
              <li>your Internet Protocol (IP) address, browser type, and internet service provider (ISP);</li>
              <li>language preference;</li>
              <li>operating system;</li>
              <li>which of our web pages you access and how frequently you access them;</li>
              <li>exit pages;</li>
              <li>click stream data;</li>
              <li>and the dates and times that you visit the Site.</li>
            </ul>

            <p><br/> This information may be collected passively using a variety of technologies, including but not limited to, cookies, page tags or similar tools. As with cookies, the web surfing information is anonymous.<br/> The Site may use this information
              and pool or aggregate it with other information for administrative purposes to assess usage, and to assess performance of our services and how users interact with the website.</p>
          </div>
          <div class="col-12">
            <h3>          Children’s Privacy                        </h3>
            <p>Fantank does not knowingly collect personal information from children under the age of 18&nbsp;without consent of their legal guardian. We encourage parents and legal guardians to monitor their children's Internet usage and to help enforce
              our Privacy Policy by instructing their children never to provide Personal Information on this Site without their permission.<br/> If you are a parent or guardian and discover that your child under the age of 18&nbsp;has a registered account
              with the Services or Fantank has received any Personal Information of that child without your consent, you may contact us, and we will endeavor to delete that information from our databases.</p>
          </div>
          <div class="col-12">
            <h3>          What We Provide To Third Parties                        </h3>
            <p>Information is shared with third parties only to the extent necessary for us to perform data processing, reporting, tax documentation, and transactions. Our partners are legally required to keep your information private and secure. Some of
              the information that may be provided to a third party includes:</p>

            <ul>
              <li>If you invest, we will identify you on tax returns and other government forms.</li>
              <li>We might use third party services to verify that you are an accredited investor and for other similar purposes.</li>
              <li>We might use third parties to perform functions relating to the operation of the Site.</li>
              <li>We will provide information if we believe we are required to do so by law.</li>
              <li>If Fantank &nbsp;is sold, all information will be transferred to our successor.</li>
              <li>If you choose to participate in discussions or message&nbsp;boards on&nbsp;the Site, other users will be able to see your name (but not any other personal information) and any other information you voluntarily provide to be seen.</li>
            </ul>

            <p><br/> We do not provide any of your personal information to third parties for marketing purposes. However, we reserve the right to disclose your personally identifiable information when we believe that disclosure is necessary to protect our
              rights or to comply with legal process.</p>
          </div>
          <div class="col-12">
            <h3>          Our Affiliates                        </h3>
            <p>
              We may provide information to one or more of our affiliates, meaning a company that we control or that is under common control with us. All of our affiliates will also be bound by the terms of this Privacy Policy. </p>
          </div>
          <div class="col-12">
            <h3>          Modifying and Deleting Information                        </h3>
            <p>
              To modify or delete your personal information, please log in and update your profile. We may retain certain information as required by law or for necessary business purposes. </p>
          </div>
          <div class="col-12">
            <h3>          Notices and other communications                        </h3>
            <p>
              Fantank will send you emails from time to time related to required elements of your transactions on the Site (confirmations, change of status or security purposes) from which you cannot opt out. You will receive emails when an investment opportunity is
              available only after you have registered and under proper security laws. Besides these, you may receive progress updates on your investments. We may also send you responses to emails you send us, and may keep record of correspondence. From
              time to time, we will also send user surveys, requests for user feedback regarding user experience and Site operations, or marketing offers from us or from us on behalf of our marketing partners. Completing these surveys, answering requests
              for feedback, or accepting any offer is strictly voluntary. If you do not wish to receive these surveys, user feedback emails, and/or marketing offers, please opt out in any offer email you receive from us. It is your responsibility to ensure
              that you maintain a current email address with Fantank, and notify us if there are any changes. </p>
          </div>
          <div class="col-12">
            <h3>          Security Policy (How We Protect Your Data)                        </h3>
            <p>
              We have put in place systems designed to protect your personal information, including:<br/>
              <ul>
                <li>We employ a secure channel, using Secure Sockets Layer encryption, the standard for secure Internet network connections, to protect information exchanged over the Internet between your web browser and our servers.</li>
                <li>Our employees and agents are required to abide by this Privacy Policy.</li>
                <li>We use automated tools to monitor network traffic to identify unauthorized attempts to upload information, change information, or otherwise seek to gain unauthorized entry into our systems.</li>
                <li>We take additional steps to protect especially sensitive information, including the information you provide on our Investor Questionnaire.</li>
                <li>In general, we use the same level of data encryption that is used by banks.
                </li>
              </ul>
              <br/> Nevertheless, no security system is perfect. We cannot guaranty that your personal information will remain private. If we learn of a security breach, we may attempt to notify you electronically so that you can take appropriate steps.
              We may post notice on the Site in such an event. </p>
          </div>

          <div class="col-12">
            <h3>          Privacy Steps You Can Take                        </h3>
            <p>Users should take precautions to maximize security. For example, choose well formed, difficult to guess passwords. An industry standard, updated antivirus as well as firewall software for malware and external attack protection is recommended.
              These software applications should do regular sweeps of your computer as well for continual protection from malware. After you are done using the website, log out and close the browser.<br/>
              <br/> Users should be aware of “phishing” – a scheme whereby a scammer will try to bring unsuspecting users to a website by using genuine looking email claiming to be a legitimate company. They may try to get you to divulge login information
              to gain fraudulent access to your accounts. Note that Fantank will never send you email asking for your login information. Users should protect themselves by never providing sensitive personal or login information via email communication
              or otherwise. Fantank's verified website addresses are: https://www.fantank.com, https://fantank.com</p>
          </div>
          <div class="col-12">
            <h3>          Cookies                        </h3>
            <p>A cookie is a small amount of data sent to your browser from our computer. We use cookies to provide you with a tailored user experience and to make it easier for you to use a website upon a future visit. You may set your browser so that it
              does not accept cookies, although this would affect the usability of the Site.&nbsp;We may also use socialled "pixel tags" to improve usability – for example, to send email messages in a format you can read and let us know whether our emails
              have been opened.</p>
          </div>
          <div class="col-12">
            <h3>          Third Party Sites                        </h3>
            <p>You might navigate to websites maintained by third parties by clicking on a link from our Site, including through a banner advertisement. Once you leave our Site, the terms of this Privacy Policy no longer apply and we have no control over
              the collection or use of personal information you provide to such websites.</p>
          </div>
        </div>
      </div>
  </main>

</body>

</html>
