<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/mainpages">

<head>
  <title>Login</title>
  <style>
    .jumbotron {
      background-image: url('../images/reglog.jpg');
    }

    .progress {
      border-radius: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>

<body>
  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-mainpages jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>Sign Up</strong></h1>
      </div>
    </div>

    <div class="container mt-5 mb-3">
      <div class="row d-flex">
        <div class="col-12 col-md-6 d-flex">
          <div class="card card-body elegant-color">
            <div class="divider-new">
              <h2 class="text-center">Register using Social Login</h2>
            </div>
            <form id="facebookform" action="/signin/facebook" method="POST">
              <input type="hidden" name="scope" value="public_profile,email" />
              <p class="facebook">
                <a class="btn btn-block">
                  <span class="d-flex">
                    <i class="fa fa-facebook mr-auto"></i>
                    <span class="text-center mr-auto">Login using Facebook</span>
                  </span>
                </a>
              </p>
            </form>
            <form id="linkedinform" action="/signin/linkedin" method="POST">
              <input type="hidden" name="scope" value="r_basicprofile,r_emailaddress" />
              <p class="linkedin">
                <a class="btn btn-block">
                  <span class="d-flex">
                    <i class="fa fa-linkedin mr-auto"></i>
                    <span class="text-center mr-auto">Login using LinkedIn</span>
                  </span>
                </a>
              </p>
            </form>
            <form id="twitterform" action="/signin/twitter" method="POST">
              <input type="hidden" name="scope" value="include_email" />
              <p class="twitter">
                <a class="btn btn-block">
                  <span class="d-flex">
                    <i class="fa fa-twitter mr-auto"></i>
                    <span class="text-center mr-auto">Login using Twitter</span>
                  </span>
                </a>
              </p>
            </form>
            <form id="googleform" action="/signin/google" method="POST">
              <input type="hidden" name="scope" value="profile email" />
              <p class="google-plus">
                <a class="btn btn-block">
                  <span class="d-flex">
                    <i class="fa fa-google-plus mr-auto"></i>
                    <span class="text-center mr-auto">Login using Google Plus</span>
                  </span>
                </a>
              </p>
            </form>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex">
          <div class="card card-body elegant-color">
            <div class="divider-new">
              <h2 class="text-center">Or</h2>
            </div>

            <form id="registerform" method="POST" enctype="utf8" class="my-auto">
              <div class="row">
              <div class="col-12 col-md-6 md-form">
                <input type="text" id="firstname" class="form-control" name="firstName" required="required"/>
                <p id="firstNameError" class="alert alert-danger" style="display:none"></p>
                <label for="firstname">First name</label>
              </div>
              <div class="col-12 col-md-6 md-form">
                <input type="text" id="lastname" class="form-control" name="lastName" required="required"/>
                <p id="lastNameError" class="alert alert-danger" style="display:none"></p>
                <label for="lastname">Last name</label>
              </div>
            </div>

              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="email" class="form-control" name="email" required="required"/>
                <p id="emailError" class="alert alert-danger" style="display:none"></p>
                <label for="email">Your email</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="password" class="form-control" name="password" required="required"/>
                <p id="passwordError" class="alert alert-danger" style="display:none"></p>
                <label for="password">Your password</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="passwordConfirm" class="form-control" name="passwordConfirm" required="required"/>
                <p id="matchError" class="alert alert-danger" style="display:none"></p>
                <label for="passwordConfirm">Confirm your password</label>
              </div>

              <div class="row my-2 mt-3">
                <div class="md-form col text-center">
                  <div class="g-recaptcha d-inline-block text-center elegant-color" th:attr="data-sitekey=${@captchaService.getReCaptchaSite()}" data-callback="onReCaptchaSuccess" data-expired-callback="onReCaptchaExpired"></div>
                  <p id="captchaError" class="alert alert-danger" style="display:none"></p>
                </div>
              </div>
              <div class="text-center">
                <button id="register-submit" class="btn btn-deep-orange waves-effect waves-light">Sign Up</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/
    var serverContext = window.location.protocol + "//" + window.location.host + "/";

    $(document).ready(function () {
      $('.facebook').click(function(event) {
        $('#facebookform').submit();
      });
      $('.twitter').click(function(event) {
        $('#twitterform').submit();
      });
      $('.linkedin').click(function(event) {
        $('#linkedinform').submit();
      });
      $('.google-plus').click(function(event) {
        $('#googleform').submit();
      });
      $('#register-submit').click(function(event) {
        register(event);
      });

      $('#register-submit').html('Register');

      options = {
        common: {
          minChar: 8,
          maxChar: 16
        },
        rules: {
          activated: {
            wordNotEmail: false,
            wordMinLength: true,
            wordMaxLength: true,
            wordInvalidChar: true,
            wordSimilarToUsername: true,
            wordSequences: false,
            wordTwoCharacterClasses: false,
            wordRepetitions: false,
            wordLowercase: true,
            wordUppercase: true,
            wordOneNumber: true,
            wordThreeNumbers: true,
            wordOneSpecialChar: true,
            wordTwoSpecialChar: true,
            wordUpperLowerCombo: true,
            wordLetterNumberCombo: true,
            wordLetterNumberCharCombo: true
          }
        },
        ui: {
          showVerdictsInsideProgressBar: false,
          bootstrap4: true,
          showVerdicts: false,
          showProgressBar: false,
          errorMessages: {
            wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
            wordSequences: /*[[#{error.wordSequences}]]*/,
            wordLowercase: /*[[#{error.wordLowercase}]]*/,
            wordUppercase: /*[[#{error.wordUppercase}]]*/,
            wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
            wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
          }
        }
      };
      $('#password').pwstrength(options);
    });

    function register(event) {

      event.preventDefault();
      $("#matchError").hide();

      if($("#password").val() != $("#passwordConfirm").val()){
        $("#matchError").show().html(/*[[#{PasswordMatches.user}]]*/);
        return;
      }

      if(!$("#password").pwstrength("ruleIsMet", "wordMinLength")) {
        $("#matchError").show().html("Password is too short");
        return;
      }
      if(!$("#password").pwstrength("ruleIsMet", "wordMaxLength")) {
        $("#matchError").show().html("Password is too long");
        return;
      }
      if(!$("#password").pwstrength("ruleIsMet", "wordUppercase")) {
        $("#matchError").show().html(/*[[#{error.wordUppercase}]]*/);
        return;
      }
      if(!$("#password").pwstrength("ruleIsMet", "wordLowercase")) {
        $("#matchError").show().html(/*[[#{error.wordLowercase}]]*/);
        return;
      }
      if(!$("#password").pwstrength("ruleIsMet", "wordOneNumber")) {
        $("#matchError").show().html(/*[[#{error.wordOneNumber}]]*/);
        return;
      }
      if(!$("#password").pwstrength("ruleIsMet", "wordOneSpecialChar")) {
        $("#matchError").show().html(/*[[#{error.wordOneSpecialChar}]]*/);
        return;
      }

      if (typeof grecaptcha !== 'undefined') {
        var resp = grecaptcha.getResponse();
        if (resp.length == 0) {
          $("#captchaError").show().html("Please verify that you are not a robot.");
          return;
        }
      }

      $('#register-submit').html('<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>');

      var formData = $('form').serialize();
      $.post(serverContext + "/register",formData ,function(data){
        $('#register-submit').html('Register');
        if(data.message == "success"){
            window.location.href = serverContext + "login?message=Check email to validate account";
        }
      })
      .fail(function(data) {
          grecaptcha.reset();
          $('#register-submit').html('Register');
          if(data.responseJSON.error.indexOf("MailError") > -1)
          {
            $.notify(data.responseJSON.message, { position:"right bottom", className: "error" });
          }
          else if(data.responseJSON.error == "InvalidReCaptcha"){
            $("#captchaError").show().html(data.responseJSON.message);
          }
          else if(data.responseJSON.error == "UserAlreadyExist"){
            $("#emailError").show().html(data.responseJSON.message);
          }
          else if(data.responseJSON.error.indexOf("InternalError") > -1){
            $.notify(data.responseJSON.message, { position:"right bottom", className: "error" });
          }
          else{
            var errors = $.parseJSON(data.responseJSON.message);
            //$.notify(data.responseJSON.message, { position:"right bottom", className: "error" });
            $.each( errors, function( index,item ){
                $("#"+item.field+"Error").show().html(item.defaultMessage);
            });
          }
      });
    }
    /*]]>*/

    var onReCaptchaSuccess = function(response) {
        $("#captchaError").html("").hide();
    };

    var onReCaptchaExpired = function(response) {
        $("#captchaError").html("reCaptcha has expired.  Please solve a new reCaptcha").show();
        grecaptcha.reset();
    };

  </script>
</th:block>

</body>
</html>
