<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/mainpages">

<head>
  <title>Login</title>
  <style>
    .jumbotron {
      background-image: url('../images/register-music.jpg');
    }
  </style>
</head>

<body>
  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-mainpages jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>Register</strong></h1>
      </div>
    </div>

    <div class="container mt-5 mb-3">
      <div class="row d-flex">
        <div class="col-12 col-md-6 d-flex">
          <div class="card card-body elegant-color">
            <div class="divider-new">
              <h2 class="text-center">Register using Social Login</h2>
            </div>
            <p class="facebook">
              <a href="" class="btn btn-block">
                <span class="d-flex">
                  <i class="fa fa-facebook mr-auto"></i>
                  <span class="text-center mr-auto">Login using Facebook</span>
                </span>
              </a>
            </p>
            <p class="linkedin">
              <a href="" class="btn btn-block">
                <span class="d-flex">
                  <i class="fa fa-linkedin mr-auto"></i>
                  <span class="text-center mr-auto">Login using LinkedIn</span>
                </span>
              </a>
            </p>
            <p class="twitter">
              <a href="" class="btn btn-block">
                <span class="d-flex">
                  <i class="fa fa-twitter mr-auto"></i>
                  <span class="text-center mr-auto">Login using Twitter</span>
                </span>
              </a>
            </p>
            <p class="google-plus">
              <a href="" class="btn btn-block">
                <span class="d-flex">
                  <i class="fa fa-google-plus mr-auto"></i>
                  <span class="text-center mr-auto">Login using Google Plus</span>
                </span>
              </a>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex">
          <div class="card card-body elegant-color">
            <div class="divider-new">
              <h2 class="text-center">Or</h2>
            </div>

            <form class="my-auto">
              <div class="row">
              <div class="col-12 col-md-6 md-form">
                <input type="text" id="firstname" class="form-control " />
                <label for="firstname">First name</label>
              </div>
              <div class="col-12 col-md-6 md-form">
                <input type="text" id="lastname" class="form-control " />
                <label for="lastname">Last name</label>
              </div>
            </div>

              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="email" class="form-control " />
                <label for="email">Your email</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="pass" class="form-control" />
                <label for="pass">Your password</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="confirmpass" class="form-control" />
                <label for="pass">Confirm your password</label>
              </div>

              <div class="text-center">
                <button class="btn btn-deep-orange waves-effect waves-light">Register</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
