<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/mainpages">

<head>
  <title>Login</title>
  <style>
    .jumbotron {
      background-image: url('../images/reglog.png');
    }
  </style>
</head>

<body>
  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-mainpages jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>Resend Registration Confirmation Email</strong></h1>
      </div>
    </div>

    <div class="container mt-5 mb-3">
      <div class="row d-flex">

        <div class="col-12 col-md-6 d-flex">
          <div class="card card-body elegant-color">
            <div class="divider-new">
              <h2 class="text-center">Account Email</h2>
            </div>

            <form class="my-auto">

              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="email" class="form-control" name="email" required="required"/>
                <p id="emailError" class="alert alert-danger" style="display:none"></p>
                <label for="email">Your email</label>
              </div>

              <div class="text-center">
                <button id="resend-submit" class="btn btn-deep-orange waves-effect waves-light">Resend</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/
    var serverContext = window.location.protocol + "//" + window.location.host + "/";

    $(document).ready(function () {

      $('#resend-submit').html("Resend")

      $('#resend-submit').click(function(event) {
        reset(event);
      });

    });

    function reset(event){

      event.preventDefault();
      var email = $("#email").val();
      $('#resend-submit').html('<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>')
      $.post(serverContext + "user/token",{email: email} ,function(data){
        $('#resend-submit').html("Resend")

        window.location.href = serverContext + "login?message=" + data.message;
      })
      .fail(function(data) {
        $('#resend-submit').html("Resend")
        $.notify(data.responseJSON.message, { position:"right bottom", className: "success" });
      });
    }
    /*]]>*/

  </script>
</th:block>

</body>
</html>
