<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/mainpages">

<head>
  <title>Terms</title>
  <style>
    .jumbotron {

    }

    .terms h1,
    .terms h3 {
      color: #337ab7;
    }

    .terms li {
      display: block;
    }

    .terms li:before {
      /*Using a Bootstrap glyphicon as the bullet point*/

      font-size: 1rem;
      padding-right:1rem;
      color: #337ab7;
      font-weight: 500;
      content: "\f00c"; /* FontAwesome Unicode */
      font-family: FontAwesome;
      display: inline-block;
      width: 1.3em; /* same as padding-left set on li */
    }
  </style>
</head>

<body>
  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-mainpages jumbotron-fluid mt-3 stylish-color">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>Terms Of Use</strong></h1>
        <h5 class="mx-auto w-75 text-center">Please read these Terms of Use (the “Agreement” or “Terms of Use”) carefully before using our website, which we refer to as the “Site.” By using the Site in any manner, even just browsing the Site, you agree to be bound by this Agreement.
        </h5>
      </div>
    </div>

    <div class="container mt-5 mb-3 black">
      <div class="terms white row black-text z-depth-2 px-4 py-4 my-2 ">
        <div class="col-12">
          <p>This is a legally binding contract between you and Fantank. If you have any questions about its meaning you should consult with an attorney before using the Site.<br/><br/> PLEASE READ THIS DOCUMENT CAREFULLY BEFORE YOU ACCESS OR USE THE SITE.
            BY ACCESSING OR REGISTERING AT THE SITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET FORTH BELOW. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS, PLEASE DO NOT ACCESS OR REGISTER FOR OUR SITE.
          </p>
        </div>
        <div class="col-12">

          <h3>Summary of Service</h3>

          <p>Fantank is an electronic platform where qualified investors can view private equity and debt deals. We refer to each these deals as a&nbsp;“Campaign.” For example, an Campaign might consist of a production company (referred to as an "Issuer")
            raising private funds for a stage show, in exchange for an equity share of the company where investors receive a return on their investment (for example,&nbsp;a share of the profits).&nbsp;Each Campaign is held by a separate Special Purpose
            Vehicle (SPV) that is a limited liability company or limited partnership or other corporate entity.<br/>
            <br/> In the case of debt Campaigns, an investor who wants to invest would make&nbsp;a loan to the SPV holding the Underlying Loan. The investor’s loan is evidenced by a promissory note, which we refer to as the “Note.” The Note gives the
            investor the right to receive payments of interest and principal,&nbsp;only to the extent that&nbsp;the SPV receives payments from the Issuer with respect to the Underlying Loan.<br/>
            <br/> For a more detailed description, you should review the FAQ section of the Site and to the information provided by each Campaign.</p>
        </div>
        <div class="col-12">

          <h3>Definitions</h3>
          <p>Anyone who uses or registers at the Site is referred to in these Terms of Use as a “User.” The service provided by Fantank is referred to as the “Service.”&nbsp;In providing the Service,&nbsp;Fantank makes various material and information
            accessible at the Site, including material uploaded by Users. We refer to this as “Content.”</p>
        </div>

        <div class="col-12">

          <h3>Acceptance of Terms </h3>
          <p>You will be deemed to have consented to the terms of this Agreement by using or registering at the Site. We may also ask you to indicate your consent more formally by checking a box or otherwise taking an affirmative action.<br/>
            <br/> The Service is offered subject to acceptance of all of the terms and conditions contained in these Terms of Use and all other operating rules, policies, and procedures we may publish on the Site, which are incorporated by reference.
            These Terms of Use apply to every User. In addition, some services may be subject to additional terms and conditions adopted by Fantank.<br/>
            <br/> Fantank may, at its sole discretion, modify or replace these Terms of Use by posting the updated terms on the Site. Unless otherwise indicated by Fantank, any changes will become effective on a prospective basis from the date
            of posting. It is your responsibility to check the Terms of Use periodically for changes. Your continued use of the Service following the posting of any changes to the Terms of Use constitutes acceptance of those changes. The Site offers you
            the ability to be notified by email when there have been changes to the Terms of Use. To sign up for these notices, go to the appropriate place on the Site. Fantank reserves the right to change, suspend, or discontinue the Service or
            any of its features at any time for any reason. Fantank may also impose limits on certain features and services or restrict your access to parts or all of the Service without notice or liability. You represent that if you are an individual,
            you are at least 18 years old and of legal age in your jurisdiction to form a binding contract, and that all registration information you submit is accurate and truthful. If you are not 18 you must stop using the Site. Fantank may ask
            for proof of age from you and suspend your account until you comply. Fantank may, in its sole discretion, refuse to offer the Service to any person or entity and change its eligibility criteria at any time. This provision is void where
            prohibited by law and the right to access the Service is revoked in those jurisdictions.</p>

        </div>
        <div class="col-12">

          <h3>                            Relationship to Privacy Policy and Other Contracts                        </h3>

          <p>Our Privacy Policy is part of this Agreement.&nbsp;In addition, we may ask that you agree to other terms and conditions depending on your use of the Site. All of such other terms and conditions become part of this Agreement. There are no agreements
            or understandings concerning your use of the Site that are not reflected in this Agreement. This Agreement supersedes all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and Fantank
            with respect to the Service.</p>
        </div>

        <div class="col-12">

          <h3>                            Registration                        </h3>
          <p>You may browse the Site without registering, but to review investment opportunities you must register and select a screen name (“User ID”) and password. You promise to provide accurate, complete, and updated registration information. You shall
            not use as a User ID any name or term that (i) is the name of another person, with the intent to impersonate that person; (ii) is subject to any rights of another person, without appropriate authorization; or (iii) is offensive, vulgar, or
            obscene. Fantank reserves the right in its sole discretion to refuse registration of or cancel a User ID.<br/>
            <br/> You are solely responsible for activity that occurs on your account and shall be responsible for maintaining the confidentiality of your password for the Site. We will treat anyone who uses your User ID and password as "you" for all
            purposes, and we will hold you responsible for the activities of the person using your password. You will never allow any other person to use your account, nor will you use the account of any other User. You will immediately notify&nbsp;Fantank
            in writing of any unauthorized use of your account, or other known account-related security breach.</p>

        </div>
        <div class="col-12">

          <h3>                            Electronic Delivery                        </h3>
          <p>You consent to receive from Fantank all communications including notices, agreements, legally required disclosures, or other information in connection with the Services electronically. The Company may provide the electronic notices by posting
            them on the Site. If you desire to withdraw your consent to receive notices electronically, you must discontinue your use of the Services.</p>

        </div>
        <div class="col-12">

          <h3>                            Securities Offerings                        </h3>
          <p>Fantank is not a registered broker-dealer&nbsp;or investment advisor and does not conduct any activity that would require such registration. Securities sold through private placements are restricted and not publicly traded, and are therefore
            illiquid. Neither the U.S. Securities and Exchange Commission nor any state securities commission or other regulatory authority has approved, passed upon or endorsed the merits of any offering on this Website.</p>

        </div>
        <div class="col-12">

          <h3>                            FundAmerica Agreement Incorporated                        </h3>
          <p>For accredited investors in the USA, Fantank&nbsp;uses fundamerica.com as its third party service provider for investor verification services. By making investment requests on&nbsp;Fantank,&nbsp;you agree to be bound by FundAmerica's
            Privacy Policy and Terms of Service. You hereby consent and authorize Fantank&nbsp;to share any information necessary with Fundamerica.com to the minimum extent required to complete your transactions.</p>

        </div>
        <div class="col-12">

          <h3>                            Use of Site                        </h3>
          <p>You will use the Site only for the purpose for which it was intended, i.e., to access the Service. You will not use the Site for any other purpose, whether personal or commercial. The Service is provided only for your own personal, noncommercial
            use, except as otherwise provided. You are responsible for all of your activity in connection with the Service.<br/>
            <br/>
            <strong>Prohibited Conduct</strong><br/>
            <br/> You will not:</p>

          <ul>
            <li>Upload, email, or otherwise transmit any images or other Content that are unlawful, obscene, harmful, hateful, invade the privacy of any third party, contain nudity or pornography, or are otherwise objectionable.</li>
            <li>Disseminate materials that impact or invade the privacy of others, such as photographs, video clips, sound recordings, personally identifiable information, or other materials that reveal personal, private, or sensitive information about another
              person, without that person's consent.</li>
            <li>Submit material that is intentionally false, defamatory, unlawfully threatening, or unlawfully harassing.</li>
            <li>Post Content that is false, misleading, or inaccurate.</li>
            <li>Register for more than one User account, register for a User account on behalf of an individual other than yourself, or register for a User account on behalf of any group or entity (unless so authorized).</li>
            <li>Infringe any third party's copyright, patent, trademark, trade secret, or other proprietary rights or rights of publicity or privacy.</li>
            <li>Transmit materials that contain any viruses or other computerprogramming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept, or expropriate any system, data, or personal information.</li>
            <li>Intimidate or harass another user.</li>
            <li>Use the Service to artificially generate traffic or page links.</li>
            <li>Impersonate any person or entity, or falsely state or otherwise misrepresent yourself, your age or your affiliation with any person or entity.</li>
            <li>Use the Service in a manner that breaches any legal duty owed to a third party, such as a contractual duty or a duty of confidence.</li>
            <li>Use the Site in a manner that could disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site, such as through sending "spam" email.</li>
            <li>Upload, post, transmit, share or otherwise make available any unsolicited or unauthorized advertising, solicitations, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation.</li>
            <li>Seek to obtain access to any materials or information through "hacking," "data harvesting," or through other means we have not intentionally made available to you through the Site.</li>
            <li>Use the Site to violate any law, statute, or regulation (including, without limitation, those governing securities regulation, consumer protection, unfair competition, antidiscrimination, or false advertising) or for any other unlawful purpose.
            </li>
          </ul>

          <p><br/> Additionally, you shall not:</p>

          <ul>
            <li>take any action that imposes or may impose (as determined by Fantank in its sole discretion) an unreasonable or disproportionately large load on Fantank’s or its third-party providers’ infrastructure;</li>
            <li>interfere or attempt to interfere with&nbsp;the proper working of the Service or any activities conducted on the Service;</li>
            <li>bypass any measures Fantank may use to prevent or restrict access to the Service (or other accounts, computer systems, or networks connected to the Service);</li>
            <li>run Maillist, Listserv, or any form of autoresponder or "spam" on the Service; or</li>
            <li>use manual or automated&nbsp;software, devices, or other processes to "crawl" or "spider" any page of the Site.</li>
          </ul>

          <p><br/> You shall not directly or indirectly:</p>

          <ul>
            <li>decipher, decompile, disassemble, reverse engineer, or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Service, except to the extent applicable laws specifically prohibit such restriction;</li>
            <li>modify, translate, or otherwise create derivative works of any part of the Service; or</li>
            <li>copy, rent, lease, distribute, or otherwise transfer any of the rights that you receive hereunder.</li>
          </ul>

          <p>You shall abide by all applicable local, state, national, and international laws and regulations.<br/>
            <br/>
            <strong>Our Obligation to Enforce Rules</strong><br/>
            <br/> We will enforce these Terms of Use wherever we become aware of violations and deem enforcement to be necessary. However, we do not necessarily monitor the Site for violations and are not liable for any harm or damages caused to Users
            by another User’s violation(s). If you believe our rules are being violated, please contact us.<br/>
            <br/>
            <strong>Our Right to Monitor</strong><br/>
            <br/> We may</p>

          <ul>
            <li>monitor your use of the Site, including email, and other Content you transmit through the Site,</li>
            <li>remove, edit, or refuse to post Content,</li>
            <li>restrict access from certain websites or other resources, and</li>
            <li>take any other actions we deem necessary in our sole discretion to protect our community of Users and our resources.</li>
          </ul>

          <p>You cannot expect that communications through the Site will remain private from us.<br/>
            <br/>
            <strong>Our Right to Terminate Use</strong><br/>
            <br/> We reserve the right, with or without notice, to terminate or suspend your access to some or all of the Site if we conclude, in our sole discretion, that you have breached these Terms of Use.<br/>
            <br/>
            <strong>Tracking Visits and Use</strong><br/>
            <br/> To improve the Site and for our own business purposes, we may compile records of your visits to the Site and/or your visits to, or use of, various elements of the Site (for example, how many Campaigns you view, or how long you view Campaigns).
            All of this information is confidential and subject to our Privacy Policy.<br/>
            <br/>
            <strong>Disparagement</strong><br/>
            <br/> You will not disparage Fantank, the Site, or any other User.<br/>
            <br/>
            <strong>Submitting Content</strong><br/>
            <br/> You submit Content (such as by posting on blogs or discussion boards) subject to the following rules:</p>

          <ul>
            <li>You grant to us and other Users a royalty-free, nonexclusive, worldwide license, under your intellectual property rights, to copy, reformat, index, modify, display, distribute and put to commercial and other uses your Content, and to sublicense
              the same rights to others, with or without compensation. No compensation will be paid to you for any such use.</li>
            <li>Your privacy is not protected with respect to any Content you submit, including your name, address, photographs, etc. We cannot guaranty that other Users will use your Content in an appropriate or fair manner, or in a manner otherwise anticipated
              by you. Please use caution.</li>
            <li>You will be solely responsible for any damage or loss to any party caused by your Content.</li>
            <li>Fantank reserves the right, at any time, for any reason, and without notice, to block, remove, edit, or modify any Content you submit. Fantank reserves the right not to comment on the reasons for any of these actions.</li>
          </ul>

        </div>
        <div class="col-12">

          <h3>                            Ownership of Intellectual Property                        </h3>
          <p>Fantank owns or has&nbsp;the legal right to use all of the intellectual property associated with the Site and the Services. This includes, but is not limited to, our name, our trademarks and copyrights, the design of the Site, our trade
            secrets, our business methods, any artwork, text, video, photographs, or audio used on the Site, and our logos, tag lines, and trade dress. You have no interest in any of this intellectual property, other than the right (which we may terminate
            or suspend) to use the Site and the Services in accordance with these Terms of Use. You shall not duplicate, publish, display, distribute, modify, create derivative works from, or exploit our intellectual property in any way.&nbsp;In accordance
            with the Digital Millennium Copyright Act, Fantank has adopted a policy of, in appropriate circumstances, terminating User accounts that are repeat infringers of the intellectual property rights of others. Fantank also may terminate
            User accounts even based on a single infringement.</p>

        </div>
        <div class="col-12">

          <h3>                            Your Duty of Confidentiality                        </h3>
          <p>The term “Confidential Information” means information (i) that is designated as “Confidential” or "Proprietary" at the time of disclosure or within a reasonable period thereafter, (ii) that is only available to Users who have registered at the
            Site, or (iii) a reasonable person would understand to be Confidential.</p>

          <p>Confidential Information includes our business policies or practices, strategic plans, pricing, financial information and projections, marketing information and strategies, the names of Users of the Site, the names of Issuers, and information
            received from third parties that Fantank is obligated to treat as confidential.&nbsp;So there can be no misunderstanding, all information relating to Issuers and Campaigns is Confidential Information.&nbsp;You shall keep all Confidential
            Information in confidence, and not use Confidential Information for any purpose other than as contemplated by the Site. You will use at least the same degree of care in safeguarding Confidential Information as you use in safeguarding your
            own confidential information and trade secrets, such as your social security number and secret business plans.</p>

          <p>Notwithstanding the preceding paragraph, you may disclose Confidential Information if you are required to do so by legal process, provided that you promptly notify us in advance so we can seek a protective order or other relief.</p>

        </div>
        <div class="col-12">

          <h3>                            Third Party Sites                        </h3>
          <p>The Service may permit you to link to other websites or resources on the Internet, and other websites or resources may contain links to the Site. When you access third-party websites, you do so at your own risk. Those other websites are not
            under Fantank's control, and you acknowledge that Fantank is not liable for the content, functions, accuracy, legality, appropriateness, or any other aspect of those other websites or resources. The inclusion on another website of
            any link to the Site does not imply endorsement by or affiliation with Fantank. You further acknowledge and agree that Fantank shall not be liable for any damage related to the use of any content, goods, or services available through
            any third-party website or resource.</p>

        </div>
        <div class="col-12">

          <h3>                            Copyright Notifications                        </h3>
          <p>Fantank will remove infringing materials in accordance with the Digital Millennium Copyright Act if properly notified that Content infringes copyright. If you believe that your work has been copied in a way that constitutes copyright infringement,
            please notify Fantank's copyright agent in writing. Your notice must contain the following information (please confirm these requirements with your legal counsel, or see the U.S. Copyright Act, 17 U.S.C. §512(c)(3), for more information):</p>

          <ul>
            <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</li>
            <li>A description of the copyrighted work that you claim has been infringed;</li>
            <li>A description of where the material that you claim is infringing is located on the Site, sufficient for Fantank to locate the material;</li>
            <li>Your address, telephone number, and email address;</li>
            <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
            <li>A statement by you that the information in your notice is accurate and, under penalty of perjury, that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>
          </ul>

          <p><br/> If you believe that your work has been removed or disabled by mistake or misidentification, please notify Fantank’s copyright agent in writing. Your counter-notice must contain the following information (please confirm these requirements
            with your legal counsel or see the U.S. Copyright Act, 17 U.S.C. §512(g)(3), for more information):</p>

          <ul>
            <li>A physical or electronic signature of the user of the Services;</li>
            <li>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;</li>
            <li>A statement made under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material; and</li>
            <li>The subscriber's name, address, telephone number, and a statement that the subscriber consents to the jurisdiction of the Federal District Court for the judicial district in which the address is located, or if the subscriber's address is outside
              of the United States, for any judicial district in which the service provider may be found, and that the user will accept service of process from the person who provided notification under subscriber (c)(1)(C) or an agent of such person.</li>
          </ul>

          <p><br/> Under the Act, any person who knowingly materially misrepresents that material is infringing or was removed or disabled by mistake or misidentification may be subject to liability.&nbsp;If you fail to comply with these notice requirements,
            your notification or counternotification may not be valid.<br/>
            <br/>
            <strong>For all notice of alleged copyright infringement please mail:</strong><br/> Fantank, Inc<br/> 324 S. Beverly Drive, Suite # 123, Beverly Hills, CA 90212</p>

          <p><strong>Disclaimer of Warranties</strong><br/> THE SERVICE IS PROVIDED “AS IS” AND “AS AVAILABLE” AND IS WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NONINFRINGEMENT, MERCHANTABILITY,
            AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED.<br/>
            <br/> Without limiting the preceding paragraph, Fantank, and its directors, employees, agents, suppliers, partners, and content providers do not warrant that</p>

          <ul>
            <li>the Service will be secure or available at any particular time or location;</li>
            <li>any defects or errors will be corrected;</li>
            <li>any content or software available at or through the Service is free of viruses or other harmful components; or</li>
            <li>the results of using the Service will meet your requirements. Your use of the Service is solely at your own risk. Some states or countries do not allow limitations on how long an implied warranty lasts, so the above limitations may not apply
              to you.</li>
          </ul>

          <p><br/>
            <strong>Electronic Communications Privacy Act Notice (18 USC §27012711):</strong><br/>
            <br/> Fantank MAKES NO GUARANTY OF CONFIDENTIALITY OR PRIVACY OF ANY COMMUNICATION OR INFORMATION TRANSMITTED ON THE SITE OR ANY WEBSITE LINKED TO THE SITE. Fantank will not be liable for the privacy of email addresses, registration
            and identification information, disk space, communications, confidential or tradesecret information, or any other Content stored on Fantank’s equipment, transmitted over networks accessed by the Site, or otherwise connected with your
            use of the Service.<br/>
            <br/>
            <strong>Limitations of Liability</strong><br/>
            <br/> IN NO EVENT SHALL Fantank, NOR ITS AFFILIATES, DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS, OR CONTENT PROVIDERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE, OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT
            TO THE SERVICE</p>

          <ul>
            <li>FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING),</li>
            <li>FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), OR</li>
            <li>FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) ONE HUNDRED U.S. DOLLARS ($100.00), EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME STATES OR COUNTRIES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR
              CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</li>
          </ul>

          <p><br/>
            <strong>Indemnity</strong><br/>
            <br/> You shall defend, indemnify, and hold harmless Fantank, its affiliates, and each of its and its affiliates’ employees, contractors, directors, suppliers, and representatives from all liabilities, claims, and expenses, including
            reasonable attorneys' fees and other legal costs, that arise from or relate to your use or misuse of, or access to, the Service and Content, or otherwise from your submissions, violation of the Terms of Use, or infringement by you, or any
            third-party using your account, of any intellectual property or other right of any person or entity. Fantank reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in
            which event you will assist and cooperate with Fantank in asserting any available defenses.<br/>
            <br/>
            <strong>Assignment</strong><br/>
            <br/> You may not assign any part of your interest in this Agreement, or transfer your User account to another person.&nbsp;Fantank&nbsp;may assign, transfer, or delegate any of its rights and obligations hereunder without consent.<br/>
            <br/>
            <strong>Governing Law</strong><br/>
            <br/> This Agreement shall be governed by and construed in accordance with the laws of the State of Delaware,&nbsp;the United States, without giving effect to any principles of conflicts of law, and without
            application of the Uniform Computer Information Transaction Act or the United Nations Convention of Controls for International Sale of Goods. You agree that Fantank and its Services are deemed a passive website that does not give rise
            to personal jurisdiction over Fantank or its parents, subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers or shareholders, either specific or general.</p>
        </div>

        <div class="col-12">

          <h3>                            Mandatory Arbitration                        </h3>
          <p>You agree that:</p>

          <ul>
            <li>Any claim, dispute, or controversy arising out of, relating to, or connected in any way with the Site or our Services, Privacy Policy, or Terms of Use that you may have against Fantank, other than Excluded Claims (as defined below), shall
              be resolved exclusively by arbitration, rather than through the court system.</li>
            <li>Any claim we may have against you arising out of your activities with respect to the Site, other than Excluded Claims (as defined below), shall similarly be resolved exclusively by arbitration.</li>
            <li>This arbitration shall be administered by the American Arbitration Association ("AAA") and conducted before a single arbitrator pursuant to the applicable Rules and Procedures established by AAA ("Rules and Procedures") (available at http://www.adr.org).</li>
            <li>The arbitration shall be held at a location determined by the AAA under these Rules and Procedures (provided that this location is reasonably convenient for you), or at another location that you and we select by mutual agreement.</li>
            <li>There shall be no authority for any claims to be arbitrated on a class or representative basis. The arbitrator is authorized to decide only your or our individual claims; and he or she shall not consolidate or join the claims of other persons
              or parties who may be similarly situated (the "IndividualClaimsOnly Requirement").</li>
          </ul>

          <p><br/> The term “Excluded Claims” means:</p>

          <ul>
            <li>A claim where we allege that you have infringed upon our intellectual property or the intellectual property of any third party.</li>
            <li>Claims arising from your purchase of a Note.</li>
            <li>Claims explicitly covered by another agreement.</li>
            <li>Claims between you and another User.</li>
            <li>Any claim of any nature, if the IndividualClaimsOnly Requirement is determined to be invalid.</li>
          </ul>

          <p><br/> Excluded Claims may be subject to arbitration if, and only if, a separate agreement so provides. Otherwise, Excluded Claims shall be adjudicated through the court system.</p>
        </div>

        <div class="col-12">

          <h3>                            Electronic Signatures in Global and National Commerce Act/Uniform Electronic Transactions Act                        </h3>
          <p>The Federal Electronic Signatures in Global and National Commerce Act (“ESIGN”) and similar state laws, particularly the Uniform Electronic Transactions Act (“UETA”), authorize the creation of legally binding and enforceable agreements utilizing
            electronic records and signatures. ESIGN and UETA require businesses that want to use electronic records or signatures in consumer transactions to obtain the consumer’s consent to receive information electronically.&nbsp;When a potential Investor
            registers on the platform, we obtain his or her consent to transact business electronically and maintain electronic records in compliance with ESIGN and UETA requirements.&nbsp;Your use of electronic signatures to sign documents legally binds
            you in the same manner as if you had manually signed such documents. The use of electronic versions of documents fully satisfies any requirement that such documents be provided to you in writing. If you sign electronically, you represent that
            you have the ability to access and retain a record of such documents. You agree that you are responsible for understanding these documents and agree to conduct business by electronic means. You are obligated to review the SITE periodically
            for changes and modifications and agree not to contest the admissibility or enforceability the Website’s electronically stored copy of this Agreement in any proceeding arising out of this Agreement.</p>
        </div>

        <div class="col-12">

          <h3>                            Electronic Communication Privacy Act Notice (18usc 27012711):                        </h3>
          <p>Fantank makes no guaranty of confidentiality or privacy of any communication or information transmitted on the Site or any website linked to the Site. Fantank&nbsp;will not be liable for the privacy of email addresses, registration
            and identification information, disk space, communications, confidential or trade secret information, or any other content stored on Fantank equipment, transmitted over networks accessed by the Site, or otherwise connected with your use
            of the Service.<br/>
            <br/>
            <strong>Survival of Terms</strong><br/>
            <br/> This Agreement shall continue to apply even if you are no longer a User.<br/>
            <br/>
            <strong>Miscellaneous</strong><br/>
            <br/> If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced, provided that each party can obtain substantially all of the benefits contemplated
            initially. Headings are for reference purposes only and in no way define, limit, construe, or describe the scope or extent of such section. Our failure to act with respect to a breach by you or others does not waive our rights with respect
            to subsequent breaches.<br/>
            <br/>
            <strong>Contact Information</strong><br/>
            <br/> If you have any questions about this Agreement, the Site, or the Service, please contact us at: contact@fantank.com</p>
        </div>

      </div>
    </div>
  </main>

</body>

</html>
