<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/mainpages">

<head>
  <title>Login</title>
  <style>
    .jumbotron {
      background-image: url('../images/reglog.jpg');
    }

    .progress {
      border-radius: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>

<body>
  <main layout:fragment="content">
    <div class="start_location">
      <div class="jumbotron jumbotron-mainpages jumbotron-fluid mt-3">
      </div>
      <div class="infoi mt-5 pt-5 text-white text-center">
        <h1><strong>Reset Password</strong></h1>
      </div>
    </div>

    <div class="container mt-5 mb-3">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6 d-flex">
          <div class="card card-body elegant-color">
            <div class="divider-new">
              <h2 class="text-center">Enter new Password</h2>
            </div>

            <form id="registerform" method="POST" enctype="utf8" class="my-auto">

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="password" class="form-control" name="password" required="required"/>
                <p id="passwordError" class="alert alert-danger" style="display:none"></p>
                <label for="password">Your password</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="passwordConfirm" class="form-control" name="passwordConfirm" required="required"/>
                <p id="matchError" class="alert alert-danger" style="display:none"></p>
                <label for="passwordConfirm">Confirm your password</label>
              </div>

              <div class="text-center">
                <button id="reset-submit" class="btn btn-deep-orange waves-effect waves-light">Submit</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/
    var serverContext = window.location.protocol + "//" + window.location.host + "/";

    $(document).ready(function () {

      $('#reset-submit').click(function(event) {
        register(event);
      });

      $('#reset-submit').html('Submit');

      options = {
        common: {
          minChar: 8,
          maxChar: 16,
        },
        rules: {
          activated: {
            wordNotEmail: false,
            wordMinLength: true,
            wordMaxLength: true,
            wordInvalidChar: true,
            wordSimilarToUsername: true,
            wordSequences: false,
            wordTwoCharacterClasses: false,
            wordRepetitions: false,
            wordLowercase: true,
            wordUppercase: true,
            wordOneNumber: true,
            wordThreeNumbers: true,
            wordOneSpecialChar: true,
            wordTwoSpecialChar: true,
            wordUpperLowerCombo: true,
            wordLetterNumberCombo: true,
            wordLetterNumberCharCombo: true
          }
        },
        ui: {
          showVerdictsInsideProgressBar: false,
          bootstrap4: true,
          showVerdicts: false,
          showProgressBar: false,
          errorMessages: {
            wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
            wordSequences: /*[[#{error.wordSequences}]]*/,
            wordLowercase: /*[[#{error.wordLowercase}]]*/,
            wordUppercase: /*[[#{error.wordUppercase}]]*/,
            wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
            wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
          }
        }
      };
      $('#password').pwstrength(options);
    });

    function register(event) {

      event.preventDefault();
      $("#matchError").hide();

      if($("#password").val() != $("#passwordConfirm").val()){
        $("#matchError").show().html(/*[[#{PasswordMatches.user}]]*/);
        return;
      }

      if(!$("#password").pwstrength("ruleIsMet", "wordMinLength")) {
        $("#matchError").show().html("Password is too short");
        return;
      }
      if(!$("#password").pwstrength("ruleIsMet", "wordMaxLength")) {
        $("#matchError").show().html("Password is too long");
        return;
      }
      if(!$("#password").pwstrength("ruleIsMet", "wordUppercase")) {
        $("#matchError").show().html(/*[[#{error.wordUppercase}]]*/);
        return;
      }
      if(!$("#password").pwstrength("ruleIsMet", "wordLowercase")) {
        $("#matchError").show().html(/*[[#{error.wordLowercase}]]*/);
        return;
      }
      if(!$("#password").pwstrength("ruleIsMet", "wordOneNumber")) {
        $("#matchError").show().html(/*[[#{error.wordOneNumber}]]*/);
        return;
      }
      if(!$("#password").pwstrength("ruleIsMet", "wordOneSpecialChar")) {
        $("#matchError").show().html(/*[[#{error.wordOneSpecialChar}]]*/);
        return;
      }

      $('#reset-submit').html('<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>');

      var formData = $('form').serialize();
      $.post(serverContext + "/user/changePassword", formData, function(data) {
        $('#reset-submit').html('Submit');
        if(data.message == "success"){
            window.location.href = serverContext;
        }
      })
      .fail(function(data) {
          $('#reset-submit').html('Submit');
          if(data.responseJSON.error.indexOf("InternalError") > -1){
            $.notify(data.responseJSON.message, { position:"right bottom", className: "error" });
          }
          else{
            var errors = $.parseJSON(data.responseJSON.message);
            //$.notify(data.responseJSON.message, { position:"right bottom", className: "error" });
            $.each( errors, function( index,item ){
                $("#"+item.field+"Error").show().html(item.defaultMessage);
            });
          }
      });
    }
    /*]]>*/

  </script>
</th:block>

</body>
</html>
