<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/project">

<head>
  <title>About Us</title>
  <style>
  </style>
</head>

<body>

  <main layout:fragment="content">
      <div class="jumbotron jumbotron-fantank px-0 py-0">
        <img src="/projects/perry/perry1.jpg" class="img-responsive" />
      </div>
      <div class="container projects my-0 px-0">
        <ul class="nav nav-tabs flex-column flex-md-row nav-justified black">
          <li class="nav-item">
            <a class="nav-link h-100 active" data-toggle="tab" href="#panel1" role="tab"><h4>Summary</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link  h-100 " data-toggle="tab" href="#panel2" role="tab"><h4>Team</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link h-100" data-toggle="tab" href="#panel3" role="tab"><h4>Perks</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link h-100" data-toggle="tab" href="#panel3" role="tab"><h4>Q &amp; A</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link h-100" data-toggle="tab" href="#panel3" role="tab"><h4>Offering Documents</h4></a>
          </li>
        </ul>
        <!-- Tab panels -->
        <div class="tab-content card elegant-color">
          <!--Panel 1-->
          <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
          </div>
          <!--/.Panel 1-->
          <!--Panel 2-->
          <div class="tab-pane fade elegant-color" id="panel2" role="tabpanel">
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
          </div>
          <!--/.Panel 2-->
          <!--Panel 3-->
          <div class="tab-pane fade elegant-color" id="panel3" role="tabpanel">
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
          </div>
          <!--/.Panel 3-->
        </div>
      </div>
  </main>
</body>

</html>
